body {
  font-family: "Courier New", "Lucida Console", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .container-column {
    width: 75%;
  }

  .container-row {
    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    ul {
      list-style-position: inside;
      list-style-type: none;
      padding-left: 0;
      text-align: center;
    }
  }
}

.container-canvas {
  text-align: center;
}

